@property --y {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --scale {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

.sectionContainer{
    height: fit-content;
    width: 100%;
    padding: 4rem 0rem;
}

.sectionTitle{
    width: fit-content;
    font-size: 2.75rem;
    margin: auto;
    opacity: 0;
}

.subtitle{
    font-size: 1rem;
    color: var(--text-primary);
    width: 100%;
    text-align: center;
    margin: 1rem auto;
    animation-delay: 500ms;
    opacity: 0;
}

.cardsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: auto;
    margin-top: 2rem;
}

.connectCard{
    backdrop-filter: blur(2px);
    background-color: #9a9da42e;
    border: 1px solid #3e3e3e;
    border-radius: 12px;
    width: 16rem;
    padding: 2rem;
    position: relative;
    height: 15rem;
    opacity: 1;
    cursor: pointer;
}

.connectCard:hover{
    background-color: var(--card-background-hover);
    border-color: var(--card-border-hover);
    /* transform: translateY(-10%); */
}

.connectCard h4{
    font-size: 1.25rem;
    width: fit-content;
    margin: auto;
    margin-bottom: 0.4rem;
}

.cardLink{
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #7e9eff;
    font-weight: 500;
    width: fit-content;
    margin: auto;
    margin-bottom: 0.4rem;
}

.cardText{
    font-size: 0.875rem;
    color: var(--text-secondary);
    width: fit-content;
    margin: auto;
}

.iconContainer{
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 12px;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: auto;
    margin-bottom: 2rem;
}

@media (min-width: 480px) {

    .sectionContainer{
        height: fit-content;
        width: 100dvw;
        padding: 8rem 2rem;
    }

    .sectionTitle{
        font-size: 3.75rem;
    }

    .subtitle{
        font-size: 1.25rem;
        width: 39rem;
    }

    .cardsContainer{
        width: fit-content;
       flex-direction: row;
       align-items: center;
        margin-top: 5rem;
    }
}