@property --x {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --scale {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

.sectionContainer{
    height: fit-content;
    width: 100%;
    padding: 4rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.articleContainer{
    width: fit-content;
    margin-left: auto;
}

.chip{
    display: flex;
    gap: 0.5rem;
    color: var(--color-primary);
    font-size: 0.875rem;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #1c51f21f;
    border-radius: 25px;
    width: fit-content;
}

.title{
    width: fit-content;
    font-size: 2.75rem;
    margin: 1rem 0;
    color: var(--text-primary);
    opacity: 0;
    /* transition: all 0.3s; */
}

.animation{
    animation-name: titleAnimation;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.title span{
    color: var(--color-primary);
}

.aboutText{
    font-size: 1rem;
    width: 100%;
    opacity: 0;
    text-align: justify;
    /* animation-delay: 500ms; */
}

.aside{
    width: 100%;
    height: fit-content;
    margin-right: auto;
    margin-bottom: 0px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 4.5rem);
    column-gap: 3rem;
    row-gap: 3rem;
    align-self: end;
}

.iconContainer{
    margin: auto;
    border: 1px solid #3e3e3e;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: linear-gradient(130deg, #091a4a42 0%, #1c51f24a 100%);
    backdrop-filter: blur(4px);
    color: var(--color-primary);
    --x: 0%;
    transform: translateY(var(--x));
    opacity: 0;
    /* transition: all 0.5s ease-in-out; */
}

.iconContainer:hover{
    border-color: var(--card-border-hover);
    --x: -10% !important;
}


.skillTag{
    text-align: center;
    margin-top: 0.5rem;
    color: #9da7c8;
    /* transform: scale(var(--scale)) translateX(-50%); */
    position: absolute;
    left: 50%;
    bottom: -2rem;
}


@media (min-width: 481px) {

  .aside{
    align-self: center;
    column-gap: 3rem;
}

.sectionContainer{
      padding: 8rem 2rem;
      gap: 3rem;
      flex-direction: row;
    }

}

@media (min-width: 1281px) {

    .sectionContainer{
      width: 100dvw;
      padding: 8rem 2rem;
      gap: 4rem;
      flex-direction: row;
    }

    .aboutText{
      font-size: 1.125rem;
      width: 40rem;
    }

    .aside{
      width: 40rem;
      margin-bottom: 45px;
      column-gap: 3rem;
      /* justify-content: center; */
    }

    .title{
      font-size: 3.75rem;
    }

    .chip{
    font-size: 1rem;
}

}