.sectionContainer{
    height: fit-content;
    width: 100%;
    padding: 4rem 0rem;
}

.sectionTitle{
    width: fit-content;
    font-size: 2.75rem;
    margin: auto;
    opacity: 0;
}

.subtitle{
    font-size: 1rem;
    color: var(--text-primary);
    width: 100%;
    text-align: center;
    margin: 1rem auto;
    opacity: 0;
}


@media (min-width: 480px) {
    .sectionContainer{
        width: 100dvw;
        padding: 8rem 2rem;
    }

    .sectionTitle{
        font-size: 3.75rem;
    }

    .subtitle{
        font-size: 1.25rem;
        width: 39rem;
    }

}