.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #d1d5db;
  --text-secondary:#9ca3af;
  /* --text-secondary: #666; */

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  --color-primary:#1c51f2;
  --color-secondary:#8da9ff;

  --card-background-hover:#104ad02e;
  --card-border-hover:#1c51f2ab;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  color: #fff;
}

.main {
  display: flex;
  min-height: 100vh;
  height: fit-content;
  width: 100dvw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: var(--foreground); */
  /* background: #322B78; */
  /* background: linear-gradient(0deg,rgba(50, 43, 120, .25) 0%, rgba(0, 0, 0, .25) 100%); */
  /* padding: 120px 60px; */
}

.backgroundGradient{
  background: linear-gradient(0deg,rgba(50, 43, 120, .25) 0%, rgba(0, 0, 0, .25) 100%);
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  pointer-events: none;
  z-index: -1;
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}

/* @media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #9ca3af;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
} */
