.sectionContainer{
    height: fit-content;
    width: 100%;
    padding: 4rem 0rem;
}

.sectionTitle{
    opacity: 0;
    width: fit-content;
    font-size: 2.75rem;
    text-align: center;
    margin: auto;
}

.subtitle{
    opacity: 0;
    font-size: 1rem;
    color: var(--text-primary);
    width: 100%;
    text-align: center;
    margin: 1rem auto;
}

.cardsContainer{
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    margin: 4rem auto 2rem auto;
}

.comingSoonContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    margin: auto;
    width: 100%;
    height: fit-content;
    padding: 2rem;
    border: 1px solid #3e3e3e;
    background-color: #9a9da42e;
    backdrop-filter: blur(2px);
    border-radius: 12px;
    opacity: 0;
}

.iconContainer{
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 1rem;
    align-items: center;
    border: 1px solid #3e3e3e;
    border-radius: 12px;
    background-color: #ffffff0f;
    margin: auto;
}

.comingSoonContainer h3{
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
}

.comingSoonContainer p{
    width: 100%;
  text-align: center;
  margin: auto;
  color: var(--text-secondary);
}
.chipContainer{
    flex-wrap: wrap;
    gap: .5rem;
    width: fit-content;
    margin: auto;
    display: flex;
}

.chip{
    padding: 0.25rem 0.8rem;
    background-color: #ffffff12;
    width: fit-content;
    border-radius: 25px;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-secondary);
}

@media (min-width: 481px) {

    .sectionContainer{
      width: 100dvw;
      padding: 8rem 2rem;
    }

    .sectionTitle{
        font-size: 3.75rem;
    }

    .subtitle{
        font-size: 1.25rem;
        width: 39rem;
    }

    .cardsContainer{
        flex-direction: row;
    }

    .comingSoonContainer{
        width: 100%;
    }


    .comingSoonContainer h3{
        text-align: center;
        width: fit-content;
    }
}

@media (min-width: 1281px) {

    .comingSoonContainer{
        width: 78rem;
        position: relative;
        margin: auto;
    }

    .cardsContainer{
        width: 78rem;
        flex-direction: row;
        margin: 5rem auto;
    }
    
    .comingSoonContainer p{
            width: 50%;
        }
}