.cardContainer{
    position: relative;
    width: 100%;
    border: 1px solid #3e3e3e;
    background-color: #9a9da42e;
    backdrop-filter: blur(2px);
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.cardContainer:hover{
    background-color: var(--card-background-hover);
    border-color: var(--card-border-hover);
    transform: translateY(-2%);
}

.cardContainer:hover h3{
    color: var(--color-secondary);
}

.cardContainer:hover .chip{
    color: var(--color-secondary);
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.cardBody{
    padding: 2rem;
}

.cardBody h3{
    font-size: 1.5rem;
    transition: color 0.5s ease-in-out ;
}

.cardBody p{
    font-size: 1rem;
    text-align: justify;
    color: var(--text-secondary);
}

.chipContainer{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}

.chip{
    padding: 0.25rem 0.8rem;
    background-color: #ffffff12;
    width: fit-content;
    border-radius: 25px;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-secondary);
    transition: color 0.5s ease-in-out ;
}

.liveIcon{
    height: 0.5rem;
    width: 0.5rem;
    background-color: #4aff80;
    border-radius: 50%;
    animation-name: tilting;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.liveChip{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.8rem;
    border-radius: 25px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 2;
    background-color: #5cff0024;
    color: #4aff80;
}

@keyframes tilting {
  0% {background-color: #4aff80;}
  50%{background-color: #0f4720;}
  100% {background-color: #4aff80;}
}

.linkButton{
    background: transparent;
    border: 2px solid var(--color-primary);
    /* padding: 0.5rem; */
    border-radius: 8px;
    color: var(--color-primary);
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s;
}

.linkButton:hover{
    background: var(--color-primary);
    color: #fff;
}

.linkButton a{
    width: 100%;
  display: block;
  padding: 0.5rem;
}

@media (min-width: 480px) {

    .cardContainer{
        width: 38rem;
    }

    .cardBody p{
        text-align: left;
        font-size: 1.125rem;
    }

}