.sectionContainer{
    height: 100dvh;
    width: 100%;
    padding-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionContainer h1{
    font-size: 4rem;
    width: fit-content;
    margin: auto;
    text-align: center;
    line-height: 1;
}

.title{
    opacity: 0;
    animation-duration: 2s;
}

.name{
    background-image: linear-gradient(90deg, #1c51f2 0%, #8da9ff 50%, #1c51f2 100%);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: transparent;
    line-height: 1.1 !important;
}

.sectionContainer h2{
    font-size: 1.5rem;
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 1.25rem;
    font-weight: 400;
    color: rgb(209, 213 ,219);
    opacity: 0;
}

.frontSpan{
    color: #1c51f2;
   font-weight: 500;
}

.mxSpan{
    color: #ff6aa9;
   font-weight: 500;
}

.sectionContainer p{
    width: 100%;
    margin: auto;
    margin-top: 1.125rem;
    font-size: 1rem;
    text-align: center;
    color: rgb(209, 213 ,219);
    opacity: 0;
}

.titleContainer{
    width: 100%;
}

.buttonContainer{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    margin:2.5rem auto auto;
    opacity: 0;
}

.connectButton{  
  color: #fff;
  font-family: var(--font-geist-sans);
  width: 12rem;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(90deg, #8da9ff 0%, #1c51f2 100%);;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.connectButton span{  
  height: 1.5rem;
}

.cvButton{
  color: #fff;
  font-family: var(--font-geist-sans);
  width: 12rem;
  border: 2px solid #fbfbfb;
  border-radius: 20px;
  background-color: transparent;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}

.cvButton span{  
  height: 1.5rem;
}

@media (min-width: 480px) {

.sectionContainer{
    padding: 0rem 2rem 4rem 2rem;
    align-items: end;
}  

.titleContainer{
    width: fit-content;
}

  .sectionContainer h1{
    font-size: 8rem;
}

.sectionContainer h2{
    font-size: 1.875rem;
}

.sectionContainer p{
    width: 90%;
    margin-top: 1.25rem;
    font-size: 1.25rem;
}

.buttonContainer{
    margin: auto;
    margin-top: 5rem;
    flex-direction: row;
    gap:2rem;
}

}

@media (min-width: 1281px) {
.sectionContainer{
    width: 100dvw;
    padding: 0rem 2rem 0rem 2rem;
    align-items: center;
}
}